*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1 0 auto;
}

/* ------------------------ Calculator Containor ----------------------------- */

.calculator {
    background: white;
    width: 60%;
    margin: auto;
    min-height: 400px;
    box-shadow: rgba(181, 176, 176, 0.25) 0px 54px 55px, rgba(181, 176, 176, 0.12) 0px -12px 30px, rgba(181, 176, 176, 0.12) 0px 4px 6px, rgba(181, 176, 176, 0.17) 0px 12px 13px, rgba(181, 176, 176, 0.09) 0px -3px 5px;
    border-radius: 16px 16px 0px 0px;
}

/* ------------------------ Calculator Screen ----------------------------- */

.screen {
    min-height: 84px;
    padding: 0px 20px;
    background: white;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;
    overflow-x: auto;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid;
    border-radius: 15px 15px 1px 1px;
    border-bottom: 0;
}

/* ------------------------ Calculator Clear Btn ----------------------------- */

.clear {
    border: 0;
    width: 100%;
    background: red;
    min-height: -webkit-fill-available;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

/* ------------------------ Calculator Clear One Btn ----------------------------- */

.clearOne {
    border: 0;
    width: 100%;
    background: rgb(0, 64, 255);
    min-height: -webkit-fill-available;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

/* ------------------------ Calculator Function Btn ----------------------------- */

.function-btn {
    border: 0;
    width: 100%;
    height: 70px;
    font-weight: 500;
    font-size: 20px;
    color: white;
    background: #023047;
    /* border: 1px solid black; */
}

/* ------------------------ Calculator Equal Btn ----------------------------- */

.equal-btn {
    border: 0;
    width: 100%;
    height: 70px;
    font-weight: 500;
    font-size: 20px;
    color: white;
    background: #19add9;
}


/* ------------------------ Calculator Using Table ----------------------------- */

tr, table {
    width: 100%;
    border: 1px solid;
}

td {
    width: 25%;
    text-align: center;
    height: 70px;
    font-weight: 500;
    font-size: 20px;
    color: white;
    /* border: 1px solid black; */
    background: #023047;
}




/* ------------------------ Webkit Scrol bar ----------------------------- */

::-webkit-scrollbar{
    display: none;
}

